extends layout

//- КОНТЕНТ СТРАНИЦЫ
block content
	.search
		input(type='text' placeholder='Поиск')
	.tasks
		table.task-table(border=1)
			thead
				th Номер задачи
				th Заголовок
				th Дата выполнения
			tbody
				each task in tasks
					tr
						td: a.js-modal-init(href='#')= task.id
						td= task.title
						td= moment(task.date).format('hh:mm:ss DD.MM.YYYY')