doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width initial-scale=1")
		meta(name="viewport" content="width=1200")
		title Задачи
		link(href="/build/style.css" rel="stylesheet")
		script(src="/build/app.js")
	body
		block content

		div(style='display: none;')
			include ../blocks/modal/modal