.search {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  input {
    width: 150px;
    margin: 0 auto;
  }
}
.tasks {
  width: 100%;
  padding: 30px 0;
}
.task-table {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  border-color: #909090;
  thead {
    color: #a3a3a3;
  }
  tbody tr:hover {
    background-color: rgba(161, 161, 161, 0.30);
    cursor: pointer;
  }
}