.arcticmodal-overlay {
  background-color: rgba(0, 0, 0, 0) !important;
}
.box-modal {
  border-radius: 5px;
  border: 2px solid #b2b2b2;
}
.task-modal {
  color: #a9a9a9;
  width: 500px;
  background: #fff;
  .form-task {
    width: 370px;
    margin: 0 auto;
    .row {
      padding: 5px 10px;
      font-size: 16px;
      font-weight: bold;
      .value {
        font-size: 14px;
        font-weight: normal;
        border-radius: 5px;
        border: 1px solid #dadada;
      }
    }
  }
  .box-modal__title {
    font-size: 14px;
    text-align: center;
  }
  .hr-modal {
    color: #dadada;
    margin: 0 5px;
  }
  .box-modal_close {
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #dadada;
    width: 100px;
    margin: 0 auto;
    &:hover {
      background-color: #dadada;
      color: #ffffff;
    }
  }
}
.sub-row {
  padding: 30px 0;
}