.box-modal#task-modal
	.task-modal
		.box-modal__title
		hr.hr-modal
		.form-task
			.row
				.col-md-6.label Заголовок
				.col-md-6.value#task-title
			.row
				.col-md-6.label Дата выполнения
				.col-md-6.value#task-date
			.row
				.col-md-6.label Автор
				.col-md-6.value#task-author
			.row
				.col-md-6.label Статус
				.col-md-6.value#task-status
			.row
				.col-md-6.label Описание
				.col-md-6.value#task-description

			.sub-row
				.box-modal_close.arcticmodal-close Закрыть